body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/* Contenedor principal */
.container {
    width: 90%;
    margin: 0 auto;
    background: white;
    padding: 20px;
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

/* Estilos del formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.table-firm {
    width: 100%;
    border-spacing: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
}
.table-firm td {
    vertical-align: top;
}
textarea {
    resize: vertical;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.table-firm{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Mantiene los tamaños de las celdas */
}

/* Estilo de la firma generada */
.firma {
    max-width: 100%;
    margin-top: 20px;
    padding: 20px;
    border: 1px 0.5px;
    border-radius: 0px 110px 110px 120px; 
    background-image: url('../img/FondoNegro.png');
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    /* clip-path: polygon(20px 0, 100% 0, 100% 100%, 0 100%, 0 20px); */
 
}

.firma .nombre {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 900;
    font-size: 48px;
    margin-top: 20px;
    margin-left: 3px;
    color: #FFFFFF;
    position: absolute;
}
.firma .apellidos {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-weight: 900;
    font-size: 48px;
    margin-top: 10vh;
    color: #FFFFFF;
}

.firma .cargo {
    font-family: 'Work Sans', sans-serif;
    color: #FFFFFF;
    margin-top: -55px;
    margin-left: 5px;
}

.firma a {
    color: #FFFFFF;
    text-decoration: none;
    
}

.firma a:hover {
    text-decoration: underline;
}

.img-content {
    position: absolute;
    width: 208px;
    height: 208px;
    background-color: grey;
    border-radius: 40px;
    /* object-fit: cover; */
    bottom: 20px;
    left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Si necesitas un fondo específico detrás de la foto */
    /* background-image: url('img/fondo-firma.png'); Fondo si lo necesitas */
    background-size: cover;
    background-position: center;
}


.img-photo {
    width: 132.7%;
    object-fit: cover;
   margin-right: 25px;
     /* Ocupará todo el contenedor */
     /* Para que la imagen mantenga proporciones sin deformarse */
    /* Filtro de blanco y negro */
    filter: grayscale(150%);
    display: none;
   
}

/* .logos-superpuestos {
    position: relative;
    /* width: 80px; /* Ajusta según el tamaño de tus logos */
    /* height: 80px; */
    /* margin-top: 3.2vh; */
    /* margin-left: 70%; */
/* } */

/* Estilo para la información */
.info-content {
    width: 60%;
    padding: 20px;
    text-align: left;
    margin-left: 50%;
}

.email, 
.phone,
.address {
    font-family: 'Work Sans', sans-serif;
    color: #fdfbfb;
    text-align: left;
    margin-right: 25px;
}

/* Estilo para la columna de redes sociales */
.social-content {
   width: 30%;
   padding: 40px;

   
}

.group1{
    margin-bottom: 30%;

}

.social-icons {
    padding-top: 10px;
}

.social-icon {
    text-decoration: none;
    margin-right: 10px;
} 

.social-icon img {
    width: 24px;
    height: 24px;
}

#copiarFirma {
    padding: 10px 20px;
    background-color: #4CAF50; /* Color verde */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

#copiarFirma:hover {
    background-color: #45a049; /* Cambia el color cuando pasas el cursor */
}

/* Pie de página */
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #777;
    padding: 10px 0;
}